@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "Conocimientos requeridos";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<h2>Conocimientos requeridos en un rango de fechas</h2>

<script>
    $(document).ready(function () {
        $("#Fecha1").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#Fecha2").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
        });
    });
</script>

@using (Html.BeginForm("KnowledgesReport", "reportes", FormMethod.Post))
{

    <div class="modal-body row">
        <div class=".col-6 .col-sm-4">
            <p>
                Fecha inicial
            </p>
            @Html.EditorFor(model => model.Fecha1, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class=".col-6">
            <p>
                ...........
            </p>
        </div>


        <div class=".col-6 .col-sm-4">
            <p>
                Fecha final
            </p>

            @Html.EditorFor(model => model.Fecha2, new { htmlAttributes = new { @class = "form-control date2", @readonly = true } })

        </div>
    </div>
    <input type="submit" value="Generar reporte" />
}

<br />
<br />

@{
    if (TempData["conocimientos"] != null)
    {
        <table class="table table-responsive-md">
            <tr>
                <th>
                    Cantidad de veces requerido
                </th>
                <th>
                    Conocimiento
                </th>

            </tr>

            @foreach (var item in (TempData["conocimientos"] as IEnumerable<ProyectoIntegrador_mejorado.Models.conocimientos_en_rango_Result>))
            {
                <tr>
                    <td>@item.Cantidad</td>
                    <td>@item.Conocimiento</td>
                </tr>
            }
        </table>
    }
}
