@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "Conocimientos requeridos";
}

<h2>
    Cantidad de desarrolladores con conocimientos específicos y promedio de su antigüedad en la empresa
</h2>

@using (Html.BeginForm("KnowledgesReport", "reportes", FormMethod.Post))
{
    /* dropdown-list para seleccionar conocimiento */
    <div class="modal-body row">
        <div class=".col-6 .col-sm-4">
            <p>
                Conocimiento
            </p>
            @Html.DropDownListFor(model => model.conocimiento, (IEnumerable<SelectListItem>)TempData["conocimientos"], "Todos los conocimientos", new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" value="Generar reporte" />
}

<br />
<br />

@* si el bucket de conocimientos no es vacío se despliega table con los valores devueltos por el procedimiento almacenado *@
@{
    if (TempData["reporteConocimientos"] != null)
    {
        <table class="table table-responsive-md">
            <tr>
                <th>
                    Conocimiento
                </th>
                <th>
                    Cantidad de desarrolladores
                </th>
                <th>
                    Promedio de antigüedad
                </th>
            </tr>

            @foreach (var item in (TempData["reporteConocimientos"] as IEnumerable<ProyectoIntegrador_mejorado.Models.conocimientos_en_rango_Result>))
            {
                <tr>
                    @*<td>@item.Conocimiento</td>
                        <td>@item.CantidadDesarrolladores</td>
                        <td>@item.PromedioAntiguedad</td>*@
                </tr>
            }
        </table>
    }
}
