@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "requerimientosDesarrollador";
}

<h2>
    Consultar Cantidad de Requerimientos de un Desarrollador
</h2>
<br />

@* Form con valores para utilizar el sp *@
@using (Html.BeginForm("requerimientosDesarrollador", "reportes", FormMethod.Post))
{
    <div class="modal-body ">
        <div class=".col-6 .col-sm-4">
            <p>
                Seleccionar Proyecto
            </p>

            @Html.DropDownListFor(model => model.codigoProy, (IEnumerable<SelectListItem>)TempData["proyectos"], "Seleccione un proyecto", new { @class = "form-control" })
        </div>
      
        <br />
        <input type="submit" value="Generar reporte" />
    </div>
}


@{
    if (TempData["req"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Nombre de Empleado
                </th>

                <th>
                    Cantidad requerimientos asignados
                </th>

            </tr>

            @foreach (var item in (TempData["req"] as IEnumerable<ProyectoIntegrador_mejorado.Models.empleados>))
            {

            <tr>
                <td>@item.nombre</td>
                <td>@item.cantidadRequerimientos</td>

            </tr>

            }

        </table>

    }
}