
@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "requerimientosDesarrollador";
}

<h2>Consultar Requerimientos de un Desarrollador</h2>
<br />



@*Título de seleccionar proyecto*@
<h5> Seleccionar proyecto </h5>

@using (Html.BeginForm("requerimientosDesarrollador", "reportes", FormMethod.Post))
{
    if (ViewBag.proyectos != null)
    {
        @*Dropdown de selección de proyecto*@
        @Html.DropDownListFor(model => model.codigoProy, ViewBag.proyectos as SelectList, "----------", new { @class = "form-control" })

    }

    <br />
    @*Título de seleccionar modulo*@
    <h5> Seleccionar empleado </h5>
    @*Dropdown de selección de modulo vinculado con el proyecto previamente seleccionado*@
    @Html.DropDownListFor(model => model.cedulaEmp, new SelectList(""), "----------", new { @class = "form-control" })

    <br />
    @*Botón de seleccionar*@
    <input type="submit" value="Generar reporte" />

}

<script>
    $(document).ready(function () {
        $("#codigoProy").change(function () {
            var cod = $(this).val();
            $.ajax({
                type: "Post",
                url: "/reportes/GetEmpList?codigoProyecto=" + cod,
                contentType: "html",
                success: function (response) {
                    $("#cedulaEmp").empty();
                    $("#cedulaEmp").append(response);
                }
            })
        })
    });
</script>

@{
    if (TempData["req"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Requerimiento
                </th>

                <th>
                    Estado
                </th>

            </tr>

            @foreach (var item in (TempData["req"] as IEnumerable<ProyectoIntegrador_mejorado.Models.requerimientos>))
            {

                <tr>
                    <td>@item.nombre</td>

                    <td>@item.estado</td>

                </tr>

            }

        </table>

    }
}
