@model ProyectoIntegrador_mejorado.Models.FechasModel

@{
    ViewBag.Title = "requerimientosDesarrollador";
}

<h2>
    Consultar Requerimientos de un Desarrollador
</h2>
<br />

@* Form con valores para utilizar el sp *@
@using (Html.BeginForm("requerimientosDesarrollador", "reportes", FormMethod.Post))
{
    <div class="modal-body ">
        <div class=".col-6 .col-sm-4">
            <p>
                Seleccionar Proyecto
            </p>

            @Html.DropDownListFor(model => model.codigoProy, (IEnumerable<SelectListItem>)TempData["proyectos"], "Seleccione un proyecto", new { @class = "form-control" })
        </div>

        <br />

        <div class=".col-6 .col-sm-4">
            <p>
                Seleccionar Empleado
            </p>

            @Html.DropDownListFor(model => model.cedulaEmp, (IEnumerable<SelectListItem>)TempData["empleados"], "Seleccione un empleado", new { @class = "form-control" })

        </div>

        <br />
        <input type="submit" value="Generar reporte" />
    </div>
}

@*Script para hacer el dropdown en cascada*@
<script>
    $(document).ready(function () {
        $("#codigoProy").change(function () {
            var cod = $(this).val();
            $.ajax({
                type: "Post",
                url: "/reportes/GetEmpList?codigoProyecto=" + cod,
                contentType: "html",
                success: function (response) {
                    $("#cedulaEmp").empty();
                    $("#cedulaEmp").append(response);
                }
            })
        })
    });
</script>

@{
    if (TempData["req"] != null)
    {


        <table class="table table-responsive-md">
            <tr>
                <th>
                    Requerimiento
                </th>

                <th>
                    Estado
                </th>

            </tr>

            @foreach (var item in (TempData["req"] as IEnumerable<ProyectoIntegrador_mejorado.Models.requerimientos>))
            {

                <tr>
                    <td>@item.nombre</td>
                    <td>@item.estado</td>

                </tr>

            }

        </table>

    }
}