@model ProyectoIntegrador_mejorado.Models.ProyectModuloViewModel

@{
    ViewBag.Title = "Seleccionar proyecto mod";
}
@*Vista del index*@
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


@*Aca es para hacer que el usuario seleccione el poryecto del que desea ver módulos*@
@*Título de la ventana*@
<h2>Requerimientos</h2>
<h4> Seleccionar proyecto </h4>

@using (Html.BeginForm("Index", "requerimientos", FormMethod.Post))
{
    if (ViewBag.ProyectList != null)
    {
        @Html.DropDownListFor(model => model.codigoPK, ViewBag.ProyectList as SelectList, "----------", new { @class = "form-control" })

    }
    <h5>  </h5>
    <h5> Seleccionar modulo </h5>
    @Html.DropDownListFor(model => model.idPK, new SelectList(""), "----------", new { @class = "form-control" })

    <h2> </h2>
    <input type="submit" value="Seleccionar" />
}


<script>
    $(document).ready(function () {
        $("#codigoPK").change(function () {
            var cod = $(this).val();
            $.ajax({
                type: "Post",
                url: "/requerimientos/GetModulList?codigoProyecto=" + cod,
                contentType: "html",
                success: function (response) {
                    $("#idPK").empty();
                    $("#idPK").append(response);
                }
            })


            @*
            $.get("/requerimientos/GetModulList", { codigoProyecto: $("#codigoPK").val() }, function (data) {
                $("#idPK").empty();
                $.each(data, function (index, row) {
                    $("#idPK").append("<option value= '" + row.idpk + +"'>" + row.nombre + "</option>")
                });
            });*@
        })
    });
</script>