@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", Style = "color:White;" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @*@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", Style = "color:White;" }) *@
        <span class="label align-self-sm-baseline">@User.Identity.GetUserName()</span>
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn">&nbsp;<i class="fas fa-sign-out-alt fa-lg" style="color:white"></i></a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @* <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:White;" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", Style = "color:White;" })</li>
        *@
        <a class="nav-item nav-link" href="~/Account/Login">Iniciar Sesión</a>
        <a class="nav-item nav-link" href="~/Account/Register">Registrarse</a>
    </ul>
}
