@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", Style = "color:White;" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @*Para desplegar el username de la persona loggeada actualmente en el sistema*@
        <span class="label align-self-sm-baseline">@User.Identity.GetUserName()</span>
    </li>
    @*Cerrar Sesion*@
    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn">&nbsp;<i class="fas fa-sign-out-alt fa-lg" style="color:white"></i></a></li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    @*Links para Iniciar Sesion y Registrarse en al navbar*@
    <a class="nav-item nav-link" href="~/Account/Login">Iniciar Sesión</a>
    <a class="nav-item nav-link" href="~/Account/Register">Registrarse</a>
</ul>
}
