<option value=""> Todos los proyectos </option>
@*Esta vista parcial corresponde al dropdown en casacada con el proyecto y módulo*@
@if (ViewBag.Projects != null)
{
    //aquí se despliegan los módulos de acuerdo al proyecto seleccionado
    foreach (var item in ViewBag.Projects)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

