@{
    ViewBag.Title = "Home Page";
}

<!-- Adición de libirería de íconos -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">


<h2>Login</h2>
<form>
    <div class="form-group">
        <label for="Seleccion"> Seleccione el rol</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Soporte</option>
            <option>Jefe de Desarrollo</option>
        </select>
        
    </div>
   
</form>
<a href="~/Home/About" role="button" class="btn btn-primary mb-2"> Ingresar</a>
