@model ProyectoIntegrador_mejorado.Models.conocimientos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Conocimiento</h2>
<br />
<div>
    @*Mensaje de confimacion para el usuario*@
    <div class="p-3 mb-2 bg-danger text-white">¿Está seguro que desea eliminar este empleado?</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conocimientoPK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conocimientoPK)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*Botones de aceptar y regresar(cancelar) *@
        <div class="form-actions no-color">
            <input type="submit" value="Aceptar" class="btn btn-success" /> &nbsp;
            <a href="~/conocimientos/Index" role="button" class="btn btn-danger"> Cancelar</a>
        </div>
    }

</div>